.set-font{
	font-family: @general-font;		
	font-size: @general-font-size;
}

.set-container-parameters(@width, @height, @margin){
	width: @width;
	height: @height;
	margin: @margin;	
	background-color: @color-container;
	border: 2px solid @color-container-border; 
}